extends ./src/_layout.jade


block article
  .grid
    each page in pages
      if(page.file != "index")
        if(page.highlight)
          +backgroundItem(page)
        else
          +klassedItem(page)


mixin backgroundItem(page)
  a.item.item-four(href="/dest/#{page.file}.html", style="background-image:url('/public/highlights/#{page.highlight}')")

mixin klassedItem(page)
  a.item.item-four(href="/dest/#{page.file}.html", class="#{klass}")
    h2= page.title
